---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Galleries from "@components/Galleries" 
import { GALLERIES } from "@consts"

const galleries = (await getCollection("galleries"))
  .filter(gallery => !gallery.data.draft)
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())

const tags = [...new Set(galleries.flatMap(gallery => gallery.data.tags))]
  .sort((a, b) => a.localeCompare(b))



---

<PageLayout title={GALLERIES.TITLE} description={GALLERIES.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {GALLERIES.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Galleries client:load tags={tags} data={galleries} />
    </div>
  </BottomLayout>
</PageLayout>
